Repository VenusProtocol/venus-protocol, pull requests merged in 2023-04, with the labels that each got.

#237 [VEN-1266] VIP simulations for Gauntlet recommendations week March 27
  script/hardhat/fork/vip-104.ts
  script/hardhat/fork/vip-104/comptroller.json
  script/hardhat/fork/vip-framework/index.ts
  script/hardhat/fork/vip-framework/utils.ts
Labels: VIP

#214 [VEN-1049] Modify Borrow Functionality
  contracts/Tokens/VTokens/VBep20.sol
  contracts/Tokens/VTokens/VToken.sol
  contracts/test/EvilXToken.sol
  contracts/test/VBNBHarness.sol
  contracts/test/VBep20Harness.sol
Labels: stable rates

#221 [VEN-1055] Update stable rate for the user at rebalance
  contracts/Comptroller/Comptroller.sol
  contracts/Comptroller/ComptrollerInterface.sol
  contracts/InterestRateModels/InterestRateModel.sol
  contracts/InterestRateModels/JumpRateModel.sol
  contracts/Tokens/VTokens/VToken.sol
  contracts/Tokens/VTokens/VTokenInterfaces.sol
  tests/hardhat/StableRateModel.ts
  tests/hardhat/stableRateRebalancing.ts
  tests/hardhat/swapBorrowRateMode.ts
Labels: stable rates

#217 [VEN-1051] Modify Liquidation state borrowing
  contracts/Comptroller/Comptroller.sol
  contracts/Comptroller/ComptrollerInterface.sol
  contracts/Comptroller/ComptrollerStorage.sol
  contracts/InterestRateModels/JumpRateModel.sol
  contracts/Tokens/VTokens/VToken.sol
  contracts/Tokens/VTokens/VTokenInterfaces.sol
  contracts/test/VBep20Harness.sol
  tests/hardhat/Lens/Rewards.ts
  tests/hardhat/StableRateModel.ts
  tests/hardhat/accrueInterest.ts
  tests/hardhat/borrowAndRepay.ts
  tests/hardhat/liquidate.ts
  tests/hardhat/stableRateRebalancing.ts
  tests/hardhat/swapBorrowRateMode.ts
Labels: stable rates

#216 [VEN-1050]Modify Repay Functionality
  contracts/Comptroller/Comptroller.sol
  contracts/Comptroller/ComptrollerInterface.sol
  contracts/Comptroller/ComptrollerStorage.sol
  contracts/InterestRateModels/JumpRateModel.sol
  contracts/Tokens/VTokens/VBep20.sol
  contracts/Tokens/VTokens/VToken.sol
  contracts/Tokens/VTokens/VTokenInterfaces.sol
  contracts/test/EvilXToken.sol
  contracts/test/VBNBHarness.sol
  contracts/test/VBep20Harness.sol
  tests/hardhat/Lens/Rewards.ts
  tests/hardhat/StableRateModel.ts
  tests/hardhat/accrueInterest.ts
  tests/hardhat/borrowAndRepay.ts
  tests/hardhat/liquidate.ts
  tests/hardhat/stableRateRebalancing.ts
  tests/hardhat/swapBorrowRateMode.ts
Labels: stable rates

#236 [VEN-1258] [VEN-1262]: vault pausable upgrades
  contracts/VRTVault/VRTVault.sol
  contracts/VRTVault/VRTVaultStorage.sol
  contracts/Vault/VAIVault.sol
  contracts/Vault/VAIVaultStorage.sol
  contracts/XVSVault/XVSStore.sol
  contracts/XVSVault/XVSVault.sol
  contracts/XVSVault/XVSVaultStorage.sol
  contracts/test/XVSVaultScenario.sol
  hardhat.config.ts
  package.json
  tests/hardhat/Fork/VAIVaultUpgrade.ts
  tests/hardhat/Fork/VRTVaultUpgrade.ts
  tests/hardhat/Fork/XVSVaultUpgrade.ts
  tests/hardhat/Fork/swapTest.ts
  tests/hardhat/Fork/utils.ts
  tests/hardhat/Fork/vrtStopRewards.ts
  tests/hardhat/Governance/XVSVaultGovernanceTest.ts
  tests/hardhat/VAI/VAIController.ts
  tests/hardhat/VAI/VAIVault.ts
  tests/hardhat/VRT/VRTVault.ts
  tests/hardhat/XVS/XVSVault.ts
Labels: frozen
