Repository VenusProtocol/venus-protocol, pull requests merged in 2024-09, with the labels that each got.

#495 [VEN-2722]: Deployment of VTreasury on OpSepolia
  .env.example
  .github/workflows/ci.yml
  deploy/005-deploy-VTreasuryV8.ts
  deployments/opmainnet.json
  deployments/opmainnet_addresses.json
  deployments/opsepolia.json
  deployments/opsepolia/.chainId
  deployments/opsepolia/VTreasuryV8.json
  deployments/opsepolia/solcInputs/e5e44f3906b0022bfdbc9e3b426f7ed1.json
  deployments/opsepolia_addresses.json
  hardhat.config.ts
Labels: OP sepolia

#512 [VEN-2743]: add xvs vaults deployments on zksync
  deploy/009-configure-vaults.ts
  deployments/zksyncmainnet.json
  deployments/zksyncmainnet/DefaultProxyAdmin.json
  deployments/zksyncmainnet/XVSStore.json
  deployments/zksyncmainnet/XVSVaultProxy.json
  deployments/zksyncmainnet/XVSVaultProxy_Implementation.json
  deployments/zksyncmainnet/solcInputs/63f9adcef423ca5eed4d529bf6cabdd1.json
  deployments/zksyncmainnet/solcInputs/845afd00381c17cbf62ed4813c18a492.json
  deployments/zksyncmainnet_addresses.json
  hardhat.config.zksync.ts
Labels: zkSync

#513 [VEN-2748]: Prime deployment on zksync mainnet
  deploy/012-deploy-prime.ts
  deploy/013-configure-prime.ts
  deployments/zksyncmainnet.json
  deployments/zksyncmainnet/Prime.json
  deployments/zksyncmainnet/PrimeLiquidityProvider.json
  deployments/zksyncmainnet/PrimeLiquidityProvider_Implementation.json
  deployments/zksyncmainnet/PrimeLiquidityProvider_Proxy.json
  deployments/zksyncmainnet/Prime_Implementation.json
  deployments/zksyncmainnet/Prime_Proxy.json
  deployments/zksyncmainnet/solcInputs/7be37c67f103bd1e18e1e0c6b55c25f7.json
  deployments/zksyncmainnet_addresses.json
Labels: zkSync

#517 [VEN-2731] Deployment files for the Prime and PLP contracts on OP sepolia
  deploy/012-deploy-prime.ts
  deploy/013-configure-prime.ts
  deployments/opsepolia.json
  deployments/opsepolia/DefaultProxyAdmin.json
  deployments/opsepolia/Prime.json
  deployments/opsepolia/PrimeLiquidityProvider.json
  deployments/opsepolia/PrimeLiquidityProvider_Implementation.json
  deployments/opsepolia/PrimeLiquidityProvider_Proxy.json
  deployments/opsepolia/Prime_Implementation.json
  deployments/opsepolia/Prime_Proxy.json
  deployments/opsepolia/solcInputs/7584667b44eb77970ba8d274006d81ae.json
  deployments/opsepolia_addresses.json
Labels: OP sepolia

#520 [VEN-2810]: Deployment files for the treasury on OP mainnet
  deploy/005-deploy-VTreasuryV8.ts
  deployments/opmainnet.json
  deployments/opmainnet/.chainId
  deployments/opmainnet/VTreasuryV8.json
  deployments/opmainnet/solcInputs/7584667b44eb77970ba8d274006d81ae.json
  deployments/opmainnet_addresses.json
Labels: OP mainnet

#521 [VEN-2815]: Deployment files of XVS vault, XVS store on OP mainnet
  deploy/009-configure-vaults.ts
  deployments/opmainnet.json
  deployments/opmainnet/XVSStore.json
  deployments/opmainnet/XVSVaultProxy.json
  deployments/opmainnet/XVSVaultProxy_Implementation.json
  deployments/opmainnet/solcInputs/a2594572bdae270af6749f50c8019b6c.json
  deployments/opmainnet_addresses.json
Labels: OP mainnet
